body {
    font-family: 'Lato', cursive;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 16px;
}

/*
font-family: 'Coda', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Bungee Shade', cursive;
*/

.container {
    width: 90%;
}

h1 {
    font-family: 'Fugaz One', cursive;
    color: rgba(255, 255, 255, 0.1);
    letter-spacing: 10px;
}

.dot {
    color: rgba(255, 255, 255, 0.32);
}

.mobile-dot {
    display: none;
}

.section {
    height: 100%;
}

/*NAV BAR*/
a.brand-logo {
    font-family: 'Fugaz One', cursive;
    color: rgba(255, 255, 255, 0.69);
    letter-spacing: 5px;
    display: inline-block;
    margin-left: 75px;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    margin-top: 7px;
    margin-left: 10px;
}

span.title, span.mobile-title {
    font-family: 'Lato', cursive;
    font-size: .75em;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.15);
}

    /*title hidden on large screens*/
span.mobile-title {
    display: none;
}

.nav a {
    font-family: 'Fugaz One', cursive;
    letter-spacing: 2px;
}

.nav-button {
    transition: box-shadow 0.5s ease-out, 
                text-shadow 0.5s ease-out;
    color: rgba(255, 255, 255, 0.69);
}

.nav-button:hover {
    text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.46);
    box-shadow: 0px 0px 15px black;
}

#sidenav-overlay {
    z-index: 0;
}

/*WORK SECTION*/
#work {
    padding-top: 0;
}

.project-info p {
    color: rgba(255, 255, 255, 0.69);
    font-size: 1.5em;
    margin: 0;
}

p.jeopardy {
    font-size: 1.25em;
    margin-top: 5px
}

.project-image {
    position: relative;
}

.project-info {
    padding: 15px 0 2px;
}

.project-card {
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.09);
    transition: box-shadow 0.5s;
    transition-timing-function: ease-out;
}

.project-card:hover {
    box-shadow: 0px 0px 15px #0f0f0f;
}

.hover {
    opacity: 0;
}

.project-card:hover .hover {
    opacity: 1;
}

.hover:not(hover) {
    animation-delay: 0.5s;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.project-techs {
    color: rgba(255, 255, 255, 0.7);
    background-color: #aa00ff;
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: -10px;
}

.rounded {
    border-radius: 8px;
}

.rounded-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project-desc {
    color: rgba(255, 255, 255, 0.69); 
    padding: 5%;
    
}

.project-desc p {
    font-size: 1.25em;
}

.built-with {
    color: rgba(255, 255, 255, 0.2);
}

.skills-list {
    color: rgba(255, 255, 255, 0.69); 
}

.skill-title {
    color: rgba(255, 255, 255, 0.2);
}

.github-icon {
    font-size: 3rem;
    color: white;
}

.github-icon:hover {
    color: #a0f;
}

.link-block {
    display: inline-block;
    padding: 0 5%;
}

.link-block span {
    color: rgba(255, 255, 255, 0.2);
}
.link-block a {
    color: white;
}

.link-block a:hover {
    color: #a0f;
}

/*ABOUT SECTION*/
#about {
    min-height: 100vh;
}

.about-intro {
    color: rgba(255, 255, 255, 0.85);
}

.about-card {
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.09);
    transition: box-shadow 0.5s;
    transition-timing-function: ease-out;
}

.about-card:hover {
    box-shadow: 0px 0px 5px 0px #0f0f0f;
}

.about-text {
    color: rgba(255, 255, 255, 0.35);
}

.about-link {
    font-weight: 800;
    color: rgba(255, 255, 255, 0.8);
}

#short-bio, #long-bio {
    color: rgba(255, 255, 255, 0.7);
}



/*BLINKING CURSOR*/
.typed-cursor{
    color: rgba(255, 255, 255, 0.35);
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*CONTACT SECTION*/
#contact {
    position: relative;
}

.contact-block {
    margin-top: 15vh; 
}

.contact-icon {
    font-size: 4em;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.25s ease-out;
}

.contact-block:hover .contact-icon, .contact-block:active .contact-icon {
    color: #aa00ff;
}

.contact-title {
    color: rgba(255, 255, 255, 0.12);
}

.contact-info {
    color: rgba(255, 255, 255, 0.7);
}

/*MEDIA QUERIES*/

/*ipad*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    body {
        font-size: 2em;
    }
    
    h1 {
        font-size: 3em;
    }
    
    /*NAV BAR*/

    a.brand-logo {
        font-family: 'Fugaz One', cursive;
        color: rgba(255, 255, 255, 0.69);
        letter-spacing: 5px;
        display: inline-block;
        font-size: 2em;
        margin-top: 20px;
        margin-left: 125px;
    }
    
    .avatar {
        border-radius: 50%;
        height: 75px;
        margin-top: 12px;
        margin-left: 10px;
    }

    span.title {
        display: none;
    }
    
    span.mobile-title {
        display: block;
        font-size: 1.25em;
        margin: 50px 0 30px 0;
        color: rgba(255, 255, 255, 0.3);
    }
    
    .mobile-dot {
        display: block;
        color: rgba(255, 255, 255, 0.1);
        font-size: .5em;
    }

    nav {
        height: 100px;
    }
    
    .ion-navicon-round {
        font-size: 2em;
        margin: 18px 18px 0 0;
        color: rgba(255, 255, 255, 0.69);
    }
    
    /*SIDENAV*/
    .side-nav {
        width: 50%;    
    }
    
    .side-nav a.btn {
        height: 20vh;
        margin: 5%;
        text-align: center;
        padding-top: 20%;
    }
    
    .nav a {
        display: block;
        font-size: 2em;
    }

    .nav-button {
        color: rgba(255, 255, 255, 0.69);
        
    }
    
    /*WORK SECTION*/
    .hover {
        opacity: 1;
    }
    
    .hover:not(hover) {
        opacity: 1;
    }
    
    .project-desc {
        padding: 0 20px 10px 20px;
    }
    
    .project-techs {
        font-weight: 800;
    }
    
    /*ABOUT SECTION*/
    .about-intro {
        font-size: 1em;
        line-height: normal;
    }
    
    .short-bio, .about-text {
        font-size: 1em;
    }
    
    /*CONTACT SECTION*/

    .contact-icon {
        color: #a0f;
    }
    
    .contact-title {
        font-size: 1em;
    }
    
    .contact-block {
        margin-top: 0;
    }

}

    /*iphone*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    body {
        font-size: 4em;
    }
    
    h1 {
        font-size: 3em;
    }
    
    /*NAV BAR*/
    a.brand-logo {
        font-family: 'Fugaz One', cursive;
        color: rgba(255, 255, 255, 0.69);
        letter-spacing: 5px;
        display: inline-block;
        text-align: center;
        font-size: 1.75em;
        margin-top: 50px;
        margin-left: 150px;
    }
    
    .avatar {
        border-radius: 50%;
        height: 100px;
        margin-top: 25px;
        margin-left: 25px;
    }
    
    span.title {
        display: none;
    }
    
    span.mobile-title {
        display: block;
        font-size: 2em;
        margin: 150px 0 30px 0;
        color: rgba(255, 255, 255, 0.3);
    }
    
    .mobile-dot {
        display: block;
        color: rgba(255, 255, 255, 0.1);
        font-size: .5em;
    }
    
    nav {
        height: 150px;
    }
    
    .ion-navicon-round {
        font-size: 1.75em;
        margin: 25px 20px 0 0;
        color: rgba(255, 255, 255, 0.69);
    }
    
    /*SIDENAV*/
    .side-nav {
        width: 75%;    
    }
    
    .side-nav a.btn {
        height: 20vh;
        margin: 5%;
        text-align: center;
        padding-top: 20%;
    }
    
    .nav a {
        display: block;
        font-size: 2em;
    }

    .nav-button {
        color: rgba(255, 255, 255, 0.69);
        
    }
    
    /*WORK SECTION*/
    .hover {
        opacity: 1;
    }
    
    .hover:not(hover) {
        opacity: 1;
    }
    
    .project-techs {
        font-weight: 800;
    }
    
    /*ABOUT SECTION*/
    .about-intro {
        font-size: 2em;
        line-height: normal;
    }
    
    .short-bio, .about-text {
        font-size: 1em;
    }
    
    /*CONTACT SECTION*/
    .contact-icon {
        color: #a0f;
    }
    
    .contact-title {
        font-size: 2em;
    }
    
    .contact-block {
        margin: 0 50px 20px 50px;
        border: 8px rgba(255, 255, 255, 0.12) solid;
        border-radius: 20px;
    }

}




