@import '../vendor/materialize-src/sass/materialize.scss'; 

// colors!
$purple: #aa00ff;
$contrast-purple: #b41fff;
$white-10: rgba(255, 255, 255, 0.1);
$white-70: #e5eef2;
$white-80: #eed3ff;

// #ecf6fa

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 16px;
    &.modal-open {
        // height: 100vh;
        overflow-y: hidden;
    }
}

// UTILITIES
.text-white {
    color: $white-70;
}

.container {
    &.fluid {
        width: 90%;
    }
    &.md {
        width: 90%;
        max-width: 768px;
    }
}
.emphasis {
    color: $white-70;
    font-weight: 600;
}
.my-10 {
    margin: 10px auto;
}
.hidden {
    display: none; 
}
/////////////////////

h1, h2 {
    font-family: 'Fugaz One', sans-serif;
    color: $white-70;
    letter-spacing: 10px;
}

a.link {
    color: $purple;
    font-weight: 600;
    transition: color 0.3s ease-out, font-weight .3s ease-out, background-color 0.3s ease-out;
    &:hover {
        background: #aa00ff !important;
        color: $white-70;
    }
}
code {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: $contrast-purple;
    padding: 0px 5px;
    font-size: 90%;
}
img.responsive-img:first-child {
    margin-bottom: 10px;
}
.dot {
    color: rgba(255, 255, 255, 0.32);
    &.large {
        font-size: 3rem;
    }
}

.mobile-dot {
    color: $white-10;
}

.row.img-container{
    margin-bottom: 0;
    >.col {
        padding: 0;
        &:first-child {
            padding-right: .75rem;
        }
        &:last-child {
            padding-left: .75rem;
        }
    }
}

/*NAV BAR*/
nav {
    .nav-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        >div {
            line-height: normal;
            height: auto;
        }
    }
    .avatar {
        border-radius: 50%;
        height: 50px;
        margin-right: 15px;
    }
    span.title {
        font-family: 'Lato', sans-serif;
        font-size: .65em;
        letter-spacing: 2px;
        color: $white-70;
        margin-left: 10px;
    }
    .logo {
        display: flex;
        align-items: center;
        font-family: 'Fugaz One', sans-serif;
        color: $white-70;
        font-size: 2.1rem;
        letter-spacing: 5px;
    }
    #contact-button {
        font-family: 'Fugaz One', sans-serif;
        letter-spacing: 2px;
    }
}

// animations
@keyframes rotateIn {
    0% { transform: rotateY(90deg) };
    50% { transform: scale(1.05)};
    80% { transform: rotateY(-10deg) scale(1)};
    100% { transform: rotateY(0) };
}
.animate-rotate-in {
    animation: rotateIn 600ms ease-in-out forwards
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 100%;}
}
.animate-fade-in {
    animation: fadeIn 300ms ease-in forwards;
}
@keyframes rotateOut {
    0% { transform: rotateY(0); }
    20% { transform: rotateY(-10deg) scale(1); } 
    50% { transform: scale(1.05) }
    100% { transform: rotateY(90deg); }
}
.animate-rotate-out {
    animation: rotateOut 600ms ease-in-out forwards
}
@keyframes fadeOut {
    from { opacity: 100%;}
    to { opacity: 0;}
}

.animate-fade-out-delay {
    animation: fadeOut 300ms ease-out 300ms forwards
}

/*CONTACT HEX MODAL*********************************/
.hex-hero-clip {
    clip-path: url(#hex-hero);
}
#modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
}
#modal {
    padding: .5rem;
    background: rgba(0, 0, 0, 0.1);
    transform-origin: top right;
    position: fixed;
    right: -0.5rem;
    top: -0.5rem;
    z-index: 1000;
    max-width: 620px;

    #close-button {
        padding: .5rem;
        border: 2px solid $white-70;
        border-radius: 7px;
        margin: 1rem 1rem 0 0;
        background: transparent;
        cursor: pointer;
        &:hover, &:active {
            background: rgba(0, 0, 0, 0.1);
            border-color: $purple;
            #close-svg {
                stroke: rgba(255, 255, 255, 0.5);
            }
        }
    }

    #close-svg {
        height: 2rem;
        width: 2rem;
    }

    .modal-content {
        padding: 4rem 2.75rem 6.5rem 4rem;
        text-align: center;
        .grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            margin-bottom: 1rem;
        }
        .contact-block {
            min-height: 100%;
            margin-bottom: .75rem;
            &.resume {
                margin-top: 3.5rem;
            }
        }

        .contact-icon {
            font-size: 4rem;
            color: $white-70;
            -webkit-transition: color 0.25s ease-out;
            transition: color 0.25s ease-out;
            position: relative;
            top: 11px;
        }

        .contact-block:hover, .contact-block:active{
            .contact-icon {
                color: $purple;
            }
            .contact-info {
                color: rgba(255, 255, 255, 0.5);
            }
        } 

        .contact-info {
            color: $white-70;
            margin: 0 auto 0 .5rem;
            // display: inline-block;
        }
    }
    
}

.btn-default {
    -webkit-transition: box-shadow 0.3s ease-out, 
                text-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, 
                text-shadow 0.3s ease-out;
    color: #ecf6fa;
    font-weight: 600;
    &.btn {
        padding: 0 2rem;
        font-size: 15px;
        letter-spacing: 2px;
    }
    &:hover {
        text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.46);
        box-shadow: 0px 0px 5px black;
    }
}
main .btn {
    i {
        display: inline-block;
    }
}

/*SKILLS & REFERENCES*********************************/
.skills-list, .refs-list {
    color: $white-70;
}

.skill-title, .ref-name {
    color: $white-70;
    font-weight: 600;
    letter-spacing: 1px;
}
.ref:first-child {
    margin-bottom: 1rem;
}



/*MEDIA QUERIES*******************************/
/*all based on materializee css's default breakpoints*/
/* large */
@media only screen and (max-width : 1200px) {

}

/* medium */
@media only screen and (max-width : 992px) {

}

/* small */
@media only screen and (max-width : 600px) { 
    h1 {
        font-size: 2.5rem;
    }

    nav {
        height: 64px;
        line-height: 64px;
        .logo {
            font-size: 1.5rem;
        }
    }
    #modal {
        padding: 0;
        right: 0;
        .modal-content {
            padding: 4rem;
            .grid {
                display: block;
            }
            .contact-icon {
                font-size: 2rem;
                top: 4px;
            }
            .contact-info {
                display: inline-block;
            }
        }
    }
    .hex-hero-clip {
        clip-path: none;
        border-radius: 2px;
    }
    .skills h2 {
        font-size: 2rem;
    }
    .skills-col {
        text-align: left;
    }
    img.responsive-img {
        margin-bottom: 10px;
        width: 100%;
    }
    .row.img-container>.col {
        &:first-child, &:last-child {
            padding: 0;
        }
    }
}




