@import '../vendor/materialize-src/sass/materialize.scss'; 

body {
    font-family: 'Lato', cursive;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 16px;
}

/*
font-family: 'Coda', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Bungee Shade', cursive;
*/

// UTILITIES
.text-white {
    color: rgba(255, 255, 255, 0.69);
}

.container.fluid {
    width: 90%;
}
/////////////////////

h1 {
    font-family: 'Fugaz One', cursive;
    color: rgba(255, 255, 255, 0.1);
    letter-spacing: 10px;
}

.dot {
    color: rgba(255, 255, 255, 0.32);
}

.mobile-dot {
    color: rgba(255, 255, 255, 0.1);
}

.section {
    height: 100%;
}

/*NAV BAR*/
nav {
    .avatar {
        border-radius: 50%;
        height: 50px;
        margin: 7px 15px auto 10px;
    }
    span.title, span.mobile-title {
        font-family: 'Lato', cursive;
        font-size: .75em;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.15);
    }
    a {
        font-family: 'Fugaz One', cursive;
        letter-spacing: 2px;
        &.brand-logo {
            color: rgba(255, 255, 255, 0.69);
            letter-spacing: 5px;
            display: inline-block;
        }
    }
}

.nav-button {
    -webkit-transition: box-shadow 0.5s ease-out, 
                text-shadow 0.5s ease-out;
    transition: box-shadow 0.5s ease-out, 
                text-shadow 0.5s ease-out;
    color: rgba(255, 255, 255, 0.69);
    &.btn {
        padding: 0 2rem;
        font-size: 15px;
        letter-spacing: 2px;
    }
    &:hover {
        text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.46);
        box-shadow: 0px 0px 5px black;
    }
}

/*WORK SECTION*/
.intro {
    margin-top: 50px;

}
#work {
    display: initial;
    padding-top: 0;

}

.project-info p {
    color: rgba(255, 255, 255, 0.69);
    font-size: 1.5em;
    margin: 0;
}

p.jeopardy {
    font-size: 1.25em;
    margin-top: 5px
}

.project-image {
    position: relative;
}

.project-info {
    padding: 15px 0 2px;
}

.project-card {
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.09);
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.project-card:hover {
    box-shadow: 0px 0px 15px #0f0f0f;
}

.hover {
    opacity: 0;
}

.project-card:hover .hover {
    opacity: 1;
}

.hover:not(hover) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.project-techs {
    color: white;
    background-color: #aa00ff;
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: -10px;
    font-weight: 800;
}

.rounded {
    border-radius: 8px;
}

.rounded-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project-desc {
    color: rgba(255, 255, 255, 0.69); 
}

.project-desc p {
    font-size: 1.25em;
}

.built-with {
    color: rgba(255, 255, 255, 0.2);
}

.skills-list, .refs-list {
    color: rgba(255, 255, 255, 0.69); 
}

.skill-title, .ref-name {
    color: rgba(255, 255, 255, 0.2);
}

.github-icon {
    font-size: 3rem;
    color: white;
}

.github-icon:hover {
    color: #a0f;
}

.link-block {
    display: inline-block;
    padding: 0 5%;
}

.link-block span {
    color: rgba(255, 255, 255, 0.2);
}
.link-block a {
    color: white;
}

.link-block a:hover {
    color: #a0f;
}

/*REFERENCES*********************************/
.ref:first-child {
    margin-bottom: 1rem;
}

/*ABOUT SECTION *****************************/
#about {
    min-height: 100vh;

    .about-intro {
        color: rgba(255, 255, 255, 0.85);
    }
    
    .about-card {
        color: rgba(255, 255, 255, 0.85);
        cursor: pointer;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.09);
        -webkit-transition: box-shadow 0.5s;
        transition: box-shadow 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    
    .about-card:hover {
        box-shadow: 0px 0px 5px 0px #0f0f0f;
    }
    
    .about-text {
        color: rgba(255, 255, 255, 0.35);
    }
    
    .about-link {
        font-weight: 800;
        color: rgba(255, 255, 255, 0.8);
    }
    
    #short-bio, #long-bio {
        color: rgba(255, 255, 255, 0.7);
    }
    
    /*BLINKING CURSOR*/
    .typed-cursor{
        color: rgba(255, 255, 255, 0.35);
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
}


/*CONTACT SECTION*****************************/
#contact {
    position: relative;

    .contact-icon {
            font-size: 4em;
            color: rgba(255, 255, 255, 0.7);
            -webkit-transition: color 0.25s ease-out;
            transition: color 0.25s ease-out;
        }
    
    .contact-block:hover .contact-icon,
    .contact-block:active .contact-icon {
        color: #aa00ff;
    }

    .contact-title {
        color: rgba(255, 255, 255, 0.12);
    }

    .contact-info {
        color: rgba(255, 255, 255, 0.7);
    }

    .opportunities {
        font-size: 1em;
        color: rgba(255, 255, 255, 0.2);
    }
}



/*MEDIA QUERIES*******************************/
@media only screen and (min-width : 993px) {
    .intro {
        // margin-top: 75px;
    }
}

/*ipad*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    
    /*padding from nav bar*/
    main {
        padding-top: 50px;
    }
    
    /*NAV BAR*/
    a.brand-logo {
        font-family: 'Fugaz One', cursive;
        color: rgba(255, 255, 255, 0.69);
        letter-spacing: 5px;
        display: inline-block;
        font-size: 3em;
        margin-top: 20px;
        margin-left: 100px;
    }
    
    .avatar {
        border-radius: 50%;
        height: 75px;
        margin-top: 12px;
        margin-left: 10px;
    }
    
    span.title {
        font-size: .5em;
    }
    
    nav {
        height: 100px;
    }
    
    .ion-navicon-round {
        font-size: 3em;
        margin: 18px 5px 0 0;
        color: rgba(255, 255, 255, 0.69);
    }
    
    /*SIDENAV*/
    .side-nav {
        width: 50%;    
    }
    
    .side-nav a.btn {
        height: 20vh;
        margin: 5%;
        line-height: 20vh;
    }
    
    .nav a {
/*        display: block;*/
        font-size: 3em;
    }

    .nav-button {
        color: rgba(255, 255, 255, 0.69);
    }
    
    /*WORK SECTION*/
    #work .row {
        margin-top: 8%;
    }
    
    .hover {
        opacity: 1;
    }
    
    .hover:not(hover) {
        opacity: 1;
    }
    
    .github-block {
        margin-left: 10%;
        margin-top: -5%;
    }
    
    .github-icon {
        font-size: 3.5rem;
        color: #a0f;
    }
    
    /*CONTACT SECTION*/

    .contact-icon {
        color: #a0f;
    }
    
    .contact-block {
        margin-top: 10%;
    }
    
    .opportunities {
        margin-top: 10%;
    }

}
/*ipad pro*/
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) {
    span.title {
        font-size: .75em;
    }
    
    .github-block {
        text-align: center;
        margin: 0;
    }
    
    .fullscreen-nav {
        display: none;
    }
    
    nav a.button-collapse {
        display: inline-block;
    }
}

    /*iphone*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 

    
    /*NAV BAR*/

    a.brand-logo {
        font-family: 'Fugaz One', cursive;
        color: rgba(255, 255, 255, 0.69);
        letter-spacing: 5px;
        display: inline-block;
        margin-top: 0.5%;
        margin-left: 13%;
    }
    
    .avatar {
        border-radius: 50%;
        height: 75%;
        margin-top: 2%;
        margin-left: 0;
    }
    
    span.mobile-title {
        margin: 150px 0 30px 0;
        color: rgba(255, 255, 255, 0.3);
    }
    
    .mobile-dot {
        color: rgba(255, 255, 255, 0.1);
    }

    .ion-navicon-round {
        font-size: 2.25em;
        color: rgba(255, 255, 255, 0.69);
    }
    
    /*SIDENAV*/
    .side-nav {
        width: 75%;    
    }
    
    .side-nav a.btn {
        height: 20vh;
        margin: 5%;
        line-height: 20vh;
    }
    
    .nav a {
        display: block;
        font-size: 2em;
    }

    .nav-button {
        color: rgba(255, 255, 255, 0.69);
        
    }
    
    /*WORK SECTION*/
    .hover {
        opacity: 1;
    }
    
    .hover:not(hover) {
        opacity: 1;
    }
    
    .github-icon {
        color: #a0f;
    }
    
    /*ABOUT SECTION*/
    
    .about-intro {
        line-height: normal;
        font-size: .75em;
    }
    
    .bio-buttons {
        margin-bottom: 0;
    }
    
    /*CONTACT SECTION*/
    .contact-icon {
        color: #a0f;
    }
    
    .contact-title {
        font-size: 2em;
    }
    
    .contact-block {
        margin: 0 50px 20px 50px;
        border: 5px rgba(255, 255, 255, 0.12) solid;
        border-radius: 20px;
    }
    
    .opportunities {
        margin-top: -5%;
    }
}




